<!-- car.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>C237 Car Rental</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">C237 Car Rental</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <% if (user.role === "admin") { %>
                <li class="nav-item">
                  <a class="nav-link" href="/carInventory">Inventory</a> 
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="/addCar">Add new Car</a>
                </li> 
              <% } %>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li> 
            </ul>
          </div>
        </div>
    </nav>

    <div class="container">
        <p>Welcome, <%= user.name %> (<%= user.roles %>)</p>
        <br>
        <div class="text-center"><h2>Car Details</h2></div>
        <br>
        <% if (cars) { %> <!-- Check if car data exists -->
            <div>
                <p><b>Car Name:</b><br> <%= cars.name %></p>
                <p><b>Car Price:</b><br> $<%= cars.price.toFixed(2) %></p> 
                <p><b>Car Status:</b><br> <%= cars.status %></p>
                <p><b>Car Image:</b><br> <img src = "../images/<%= cars.image %>" width="20%"></p>
                
               
            </div>
        <% } else { %>
            <p>No Car found.</p>
        <% } %>
        <% if (user.role === "admin") { %>
          <a href ="/carInventory">Back</a>
          <form action="'/car/delete/<%= cars.carID %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this Car detail?');">
            <button type="submit" class="btn btn-danger">Delete Car</button>
          </form> 
        <% } else { %>
          <a href ="/rental">Back</a>
        <% } %>
    </div>
    
</body>
</html>
